/*  your css code here. If applicable */
table {
  width: 70%;
  border-collapse: separate; /* To keep border-radius visible */
  border-spacing: 0;
  margin: 20px auto;
  text-align: left;
  font-family: Arial, sans-serif;
  border-radius: 8px;
}

th, td {
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 0.5rem;
}

th {
  background-color: #e6e6e6;
}

tr:nth-child(odd) {
  background-color: #f2f2f2;
}

tr:nth-child(even) {
  background-color: #ffffff;
}
